.navbar_menu {
  width: 10%;
  height: 90vh;
  display: flex;
  align-items: center;
}

.navbar {
  width: 50%;
  height: 80vh;
  background-color: #1d8cf8;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  gap: 10px;
  margin-left: 10%;
}
.navbar img {
  transition: 0.6s;
}

.navbar img:hover {
  opacity: 0.6;
}
